<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GroupMemMapper">
	
	<!-- 表名 -->
	<sql id="tableName">c_term</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		name,
		c_term.explain,
		status,
		sys_user_id,
		b_ctrl_strategy_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{name},
		#{explain},
		#{status},
		#{sys_user_id},
		#{b_ctrl_strategy_id}
	</sql>
	
	<!-- 查询给定组，组成员 -->
	<select id="memlistPage" parameterType="page" resultType="pd">
	   SELECT
	    c_client.id,
		c_client.client_code,
		c_client_attr1.`name` clientname,
		c_client_attr1.lamp_pole_num,
		c_client_attr1.location,
		c_power_type.`name` powername,
		c_lamp_type.`name` lampname
		
		FROM
		c_client
		
		LEFT JOIN
		c_client_attr1
		ON
		c_client.id=c_client_attr1.c_client_id
		LEFT JOIN
		c_power_type
		ON
		c_power_type.id = (
		SELECT
		c_power_type_id
		FROM
		c_client_attr2
		WHERE
		c_client_attr2.c_client_id = c_client.id
		)
		LEFT JOIN
		c_lamp_type
		ON
		c_lamp_type.id = (
		SELECT
		c_lamp_type_id
		FROM
		c_client_attr2
		WHERE
		c_client_attr2.c_client_id = c_client.id
		)
		WHERE
		c_client.id
		IN
		(SELECT
		c_client_term.c_client_id
		FROM
		c_client_term
		WHERE
		c_client_term.c_term_id = #{pd.id}
		)
		AND
		c_client_attr1.sys_user_id IN ${pd.userids}
		 <if test="pd.location!=null and pd.location!=''">
			and 
			(
				c_client_attr1.location LIKE CONCAT(CONCAT('%', #{pd.location}),'%')
			)
		</if>
		<if test="pd.clientname!=null and pd.clientname!=''">
			and 
			(
				c_client_attr1.name LIKE CONCAT(CONCAT('%', #{pd.clientname}),'%')
			)
		</if>
		<if test="pd.lamp_pole_num!=null and pd.lamp_pole_num!=''">
			and 
			(
				c_client_attr1.lamp_pole_num LIKE CONCAT(CONCAT('%', #{pd.lamp_pole_num}),'%')
			)
		</if>
		<if test="pd.client_code!=null and pd.client_code!=''">
			and 
			(
				c_client.client_code LIKE CONCAT(CONCAT('%', #{pd.client_code}),'%')
			)
		</if>
		GROUP BY
		c_client.id
	</select>
	
	<!-- 查询未分组，组成员 -->
	<select id="otherlistPage" parameterType="page" resultType="pd">
	   SELECT
	    c_client.id,
		c_client.client_code,
		c_client_attr1.`name` clientname,
		c_client_attr1.lamp_pole_num,
		c_client_attr1.location,
		c_power_type.`name` powername,
		c_lamp_type.`name` lampname
		
		FROM
		c_client
		
		LEFT JOIN
		c_client_attr1
		ON
		c_client.id=c_client_attr1.c_client_id
		LEFT JOIN
		c_power_type
		ON
		c_power_type.id = (
		SELECT
		c_power_type_id
		FROM
		c_client_attr2
		WHERE
		c_client_attr2.c_client_id = c_client.id
		)
		LEFT JOIN
		c_lamp_type
		ON
		c_lamp_type.id = (
		SELECT
		c_lamp_type_id
		FROM
		c_client_attr2
		WHERE
		c_client_attr2.c_client_id = c_client.id
		)
		WHERE
		c_client.id
		NOT IN
		(SELECT
		c_client_term.c_client_id
		FROM
		c_client_term
		)
		AND
		c_client_attr1.sys_user_id IN ${pd.userids}
		 <if test="pd.location!=null and pd.location!=''">
			and 
			(
				c_client_attr1.location LIKE CONCAT(CONCAT('%', #{pd.location}),'%')
			)
		</if>
		<if test="pd.clientname!=null and pd.clientname!=''">
			and 
			(
				c_client_attr1.name LIKE CONCAT(CONCAT('%', #{pd.clientname}),'%')
			)
		</if>
		<if test="pd.lamp_pole_num!=null and pd.lamp_pole_num!=''">
			and 
			(
				c_client_attr1.lamp_pole_num LIKE CONCAT(CONCAT('%', #{pd.lamp_pole_num}),'%')
			)
		</if>
		<if test="pd.client_code!=null and pd.client_code!=''">
			and 
			(
				c_client.client_code LIKE CONCAT(CONCAT('%', #{pd.client_code}),'%')
			)
		</if>
		GROUP BY
		c_client.id
	</select>
	
	<!-- 添加组成员到给定组 -->
	<insert id="addMember" parameterType="pd" >
		INSERT INTO
		c_client_term
		(c_term_id, c_client_id)
		VALUES
		(#{c_term_id},#{c_client_id})
	</insert>
	
	<!-- 删除给定组的组成员 -->
	<delete id="removeMember" parameterType="pd" >
		DELETE
		FROM
		c_client_term
		WHERE
		c_term_id = #{c_term_id}
		AND
		c_client_id = #{c_client_id}
	</delete>
	
	<!-- 更新表c_client_term -->
	<update id="updateMember" parameterType="pd" >
		UPDATE
		c_client_term
		SET
		c_term_id = #{c_term_id}
		WHERE
		1=1
		<!-- c_client_id = #{c_client_id} -->
		<if test="c_client_id!=null and c_client_id!=''">
			and 
			(
				c_client_id = #{c_client_id}
			)
		</if>
		<if test="lamp_pole_num!=null and lamp_pole_num!=''">
			and 
			(
				c_client_id IN (SELECT c_client_id FROM c_client_attr1 WHERE lamp_pole_num = #{lamp_pole_num})
			)
		</if>
		
	</update>
	
</mapper>